* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-transform: uppercase;
    text-align: center;

}

.header,
.footer {
    width: 100%;
    padding: 5px;
}

.header {
    background-color: red;
}

.paragraph,
.left,
.right {
    height: 150px;
}

.paragraph {
    background-color: lightskyblue;
    width: 60%;
}
.left {
    background-color: green;
    width: 20%;
}

.right {
    background-color: pink;
    width: 20%;
}

.footer {
    background-color: blueviolet;
}

@media screen and (max-width: 992px)  {
    .paragraph {
        width: 80%;
        order: 2;
    }
    .left {
        width: 100%;
        order: 4;
    }
    .header {order: 1;}
    .right {order: 3;}
    .footer {order: 5;}
}

@media screen and (max-width: 768px) { 
    .paragraph,
    .left,
    .right {
        width: 100%;
    }
    .left {order: 3;}
}